<!--div class="container-fluid mt-5 pt-5 bg-warning">
	<div class="row">
		<div class="col-sm-6 bg-danger order-last order-md-first">
			<h1>İlk</h1>
		</div>
		<div class="col-sm-6 bg-info order-first order-md-last">
			<h1>Son</h1>
		</div>
	</div>
</div-->