<div class="bg-warning pt-5 border-bottom border-dark">
	<div class="container pt-5">
		<div class="row py-5 ">
			<div class="col-sm-6 text-start">
				<h1>Ben kimim ?</h1>
				<p class="fs-5 pt-4">Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Enim, deserunt.</p>
			</div>
			<div class="col-sm-5 offset-sm-1">
				<img src="https://picsum.photos/id/13/1920/1080" alt="" class="w-100 rounded">
			</div>
		</div>
	</div>
</div>
<div class="bg-light">
	<%# TODO bu kısma son eklenen dört proje eklenecek%>
	<div class="container pt-5">
		<div class="row text-center">
			<h1>Son yaptığım projelerim</h1>
		</div>
		<div class="row py-5">
			<!-- proje ismi-->
			<!-- proje küçük açıklaması -->
			<!-- projede kullanılan diller ve teknolojiler-->
			<!-- proje örnek resmi ?-->
			<div class="col-sm-5 py-3">
				<div class="row">
					<div class="col-6">
						<h4 class="text-start py-1">MyBlog</h4>
						<p class="text-start">Bu proje ile birlikte bu sitenin kodlarını yazdım</p>
						<ul class="list-inline text-center">
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Python</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Ruby</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Erb</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Sass</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Turbo</li>
						</ul>
					</div>
					<div class="col-5 offset-sm-1">
						<img src="https://picsum.photos/id/13/120/120?grayscale" alt="" class="w-100">
					</div>
				</div>
			</div>
			<div class="col-sm-5 offset-sm-2 py-3">
				<div class="row">
					<div class="col-6">
						<h4 class="text-start py-1">MyBlog</h4>
						<p class="text-start">Bu proje ile birlikte bu sitenin kodlarını yazdım</p>
						<ul class="list-inline text-center">
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Python</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Ruby</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Erb</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Sass</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Turbo</li>
						</ul>
					</div>
					<div class="col-5 offset-sm-1">
						<img src="https://picsum.photos/id/13/120/120?grayscale" alt="" class="w-100 img-thumbnail">
					</div>
				</div>
			</div>

		</div>
		<div class="row py-5">
			<!-- proje ismi-->
			<!-- proje küçük açıklaması -->
			<!-- projede kullanılan diller ve teknolojiler-->
			<!-- proje örnek resmi ?-->
			<div class="col-sm-5 py-3">
				<div class="row">
					<div class="col-6">
						<h4 class="text-start py-1">MyBlog</h4>
						<p class="text-start">Bu proje ile birlikte bu sitenin kodlarını yazdım</p>
						<ul class="list-inline text-center">
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Python</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Ruby</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Erb</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Sass</li>
							<li class="list-inline-item rounded-pill fs-12 bg-secondary text-light">Turbo</li>
						</ul>
					</div>
					<div class="col-5 offset-sm-1">
						<img src="https://picsum.photos/id/13/120/120?grayscale" alt="" class="w-100">
					</div>
				</div>
			</div>
			<div class="col-sm-5 offset-sm-2 py-3">
				<div class="row">
					<div class="col-6">
						<h4 class="text-start py-1">MyBlog</h4>
						<p class="text-start">Bu proje ile birlikte bu sitenin kodlarını yazdım</p>
						<ul class="list-inline text-center">
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Python</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Ruby</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Erb</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Sass</li>
							<li class="list-inline-item rounded-pill fs-12 bg-dark text-light">Turbo</li>
						</ul>
					</div>
					<div class="col-5 offset-sm-1">
						<img src="https://picsum.photos/id/13/120/120?grayscale" alt="" class="w-100">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="bg-warning">
	<div class="container pt-5">
		<div class="row">
			<h1>Son blog yazılarım</h1>
		</div>
		<div class="row py-5 border-bottom border-dark">
			<div class="col-sm-5">
				<h3 class="text-start">Rails nedir</h3>
				<p class="text-start pt-3">Rails bir mvc kullanan bir frameworktur. daha fazla webte kullanılır</p>
				<strong class="text-start">Kategori : <a href="" class="text-decoration-none">Yazılım</a></strong>
				<ul class="list-inline pt-3">
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Web</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Rails</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Ruby</li>
				</ul>
			</div>
			<div class="col-sm-5 offset-sm-2">
				<h3 class="text-start">Rails nedir</h3>
				<p class="text-start pt-3">Rails bir mvc kullanan bir frameworktur. daha fazla webte kullanılır</p>
				<strong class="text-start">Kategori : <a href="" class="text-decoration-none">Yazılım</a></strong>
				<ul class="list-inline pt-3">
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Web</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Rails</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Ruby</li>
				</ul>
			</div>
		</div>
		<div class="row py-5">
			<div class="col-sm-5">
				<h3 class="text-start">Rails nedir</h3>
				<p class="text-start pt-3">Rails bir mvc kullanan bir frameworktur. daha fazla webte kullanılır</p>
				<strong class="text-start">Kategori : <a href="" class="text-decoration-none">Yazılım</a></strong>
				<ul class="list-inline pt-3">
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Web</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Rails</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Ruby</li>
				</ul>
			</div>
			<div class="col-sm-5 offset-sm-2">
				<h3 class="text-start">Rails nedir</h3>
				<p class="text-start pt-3">Rails bir mvc kullanan bir frameworktur. daha fazla webte kullanılır</p>
				<strong class="text-start">Kategori : <a href="" class="text-decoration-none">Yazılım</a></strong>
				<ul class="list-inline pt-3">
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Web</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Rails</li>
					<li class="list-inline-item text-light rounded-pill border border-dark p-2 fs-12 bg-secondary">Ruby</li>
				</ul>
			</div>
		</div>
	</div>
</div>