<%= render "layouts/sidebar"%>
<div class="container-lg mt-5 pt-5">
    <h1>Kullanıcı Projeleri</h1>
    <p>Burada oluşturduğum projelerim listelenmektedir</p>
    <p>Toplam proje sayısı: <strong><%= @projects.count%></strong></p>
    <% @projects.each do |project|%>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to(
              project.title,
              pages_project_path(string_to_url(project.title)),
              class:"text-decoration-none text-capitalize"
            )%>
          </h5>
          <p class="card-text"><%= project.header%></p>
        </div>
      </div>
    <%end%>
</div>
