<%= stylesheet_link_tag "aboutme", "data-turbo-track": "reload" %>
<div class="area vh-75">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 rounded-3 d-flex flex-row justify-content-center">
        <div class="border border-info my-5 rounded-2 bg-primary-subtle tasiyici">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
