.text-area {
  height: 400px;
  resize: none;
}

@media screen and (min-width: 1200px) {
  .tasiyici {
    width: 80%;
  }
}

@media screen and (min-width: 922px) {
  .tasiyici {
    width: 100%;
  }
}
